/* Styling for the form container */
form {
    background-color: #f6dfdf;
    max-width:60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #333;
    
}

h2 {
    text-align: center;
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

input[type="text"], 
input[type="number"], 
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

input[type="text"]:focus, 
input[type="number"]:focus, 
textarea:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27ae60;
}

button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    font-size: 1.2rem;
}

h3 {
    color: #2980b9;
    font-size: 1.2rem;
    margin-top: 20px;
}

input[type="text"]::placeholder, 
textarea::placeholder {
    color: #888;
}

/* Ingredient styling */
/* div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
} */

div input[type="text"] {
    width: 48%;
}

button[type="button"] {
    background-color: #3498db;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 0.9rem;
}

button[type="button"]:hover {
    background-color: #2980b9;
}

/* Responsive Design */
@media (max-width: 768px) {
    div input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    form {
        padding: 15px;
    }

    button[type="submit"] {
        font-size: 1rem;
    }
}
